.cell-title, .cell-price{
  color: #1E293B;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.adress-title, .cell-description-title {
  color: #1E293B;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.cell-images{

  img {
    max-width: 100%;
  }
}

.cell-description, .cell-adress{
  color: #1E293B;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}


.p-galleria-thumbnail-items {
  background-color: #FFF;
}

.galleria-thumbnail {
  max-width: 120px;
  max-height: 84px;
}