<main>
  <div class="container">
      <h2 class="breadcrumbs">breadcrumbs</h2>
      <div class="advirtisment-container grid">
        <div class="cell-title col-8">{{ advert && advert.name }}</div>
        <div class="cell-price col-4">{{ advert && advert.cost }}</div>
        <!-- <p-galleria class="cell-images col-8" [value]="images" [containerStyle]="{ 'max-width': '856px' }" [numVisible]="5">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.image" style="width: 100%;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.image" />
              </div>
          </ng-template>
      </p-galleria> -->
        <div class="cell-images col-8"  >
          
          <img src="">{{ advert && advert.imagesIds }}
        </div>
        <div class="col-4">
          <div class=""> Показать номер телефона </div>
          <div class="adress-title"> Адрес</div>
          <div class="cell-adress"> {{ advert && advert.location }}</div>
          <div class=""> Показать на карте</div>
          <div class=""> пункь</div>
          <div class="cell-description-title"> Описание</div>
          <div class="cell-description">{{ advert && advert.description }}</div>
        </div>
      </div>
  </div>
</main>
