.li-item {
  flex-basis: 25%;
}

.cell-title {
  color: #1E293B;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  cursor: pointer;

  &:hover {
    color: #3B82F6;
  }
}