<ul class="card-table flex flex-wrap" >
    <li *ngIf="personal" class="mb-4 border-round-sm">
        <app-card-new-adv>link to new</app-card-new-adv>
    </li>
    <ng-container *ngIf="loading"  class="mb-4 border-round-sm">
        <li *ngFor="let items of mockArr">
            <p-skeleton width="19rem" height="15rem" styleClass="mb-3"></p-skeleton>
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton height="0.5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="0.5rem" styleClass="mb-2"></p-skeleton>
        </li>
    </ng-container>
    <ng-container *ngIf="!loading">
    <li *ngFor="let advert of adverts" class="mb-4 border-round-sm">
        <app-card [data]="advert" [personal]="personal"></app-card>
    </li>
    </ng-container>
</ul>