<header>
    <div class="header-top">
        <div class="container">
            <a class="header-login" routerLink="/login">
                <svg width="20" height="20">
                    <use xlink:href="./assets/icons.svg#login"></use>
                </svg>
                <span>Войти</span>
            </a>
            <button class="header-addAdvirtisment">
                <span>Новое объявление</span>
                <svg width="20" height="20">
                    <use xlink:href="./assets/icons.svg#positive"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <h1 class="header-title">Доска объявлений</h1>
            <div class="header-categories">
                <svg width="20" height="20">
                    <use xlink:href="./assets/icons.svg#categories"></use>
                </svg>
                <span> Все категории</span>
            </div>
            <input type="text" class="header-search" placeholder="Поиск по объявлениям">
            <button class="header-searchBtn">
                <span>Найти</span>
                <svg width="16" height="16">
                    <use xlink:href="./assets/icons.svg#search"></use>
                </svg>
            </button>
        </div>
    </div>
</header>