.header-top {
    background: #1E293B;

    .header-login {
        height: 44px;
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        background: transparent;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: #6c9ae4;
        }
    }

    .header-addAdvirtisment {
        height: 44px;
        background: #3B82F6;
        text-decoration: none;

        span {
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        &:hover {
            background: #6c9ae4;
        }
    }
}

.header-bottom {
    .container {
        @media screen and (max-width: 800px) {
            padding-bottom: 0px;
        }
    }

    .header-title {
        color: #1E293B;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;       

        @media screen and (max-width: 800px) {
            flex-basis: 100%;
            margin-bottom: 16px;
        }
    }

    .header-categories {
        color: #3B82F6;
        border: 1px solid #3B82F6;
        cursor: pointer;

        span {
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        &:hover {
            color: #fff;
            background: #6c9ae4;
        }
    }

    .header-search {
        flex-grow: 2;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #64748B;
        padding: 8px 12px;

        border-radius: 4px 0px 0px 4px;
        border: 1px solid #CBD5E1;
    }

    .header-searchBtn {
        gap: 8px;
        color: #eee;
        padding: 8px 12px;
        background: #3B82F6;
        border: none;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;

        span {
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        &:hover {
            background: #6c9ae4;
        }
    }
}