<div class="container pt-4 pb-4">
  <h2 class="settings-title"> Настройки</h2>
  <form class="settings-form pt-2 pb-2 mb-4 " [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
    <div class="inline-block w-5 mb-3 pt-2">
      <p class="settings-name mb-2">Имя</p>
      <input 
        class="p-inputtext-lg w-11 mb-3"
        type="text"
        pInputText
        formControlName="name"
        placeholder="Имя"/>
      <div
        class="text-left"
        *ngIf="settingsForm.controls['name'].invalid
        && settingsForm.controls['name'].touched">
          <span *ngIf="settingsForm.controls['name']?.errors?.['required']" class="text-red-600 w-full text-lg">Имя обязательно</span>
          <span *ngIf="settingsForm.controls['name']?.errors?.['minlength']" class="text-red-600 w-full text-lg">Минимальная длинна имени 3 символа</span>
      </div>
    </div>
    <div class="inline-block w-5 vertical-align-top pt-2">
      <p class="settings-phone mb-2">Номер телефона</p>
      <p-inputMask 
        mask="+9-999-999-99-99" 
        class="p-inputtext-lg w-full mb-3"
        styleClass=" p-component p-inputwrapper w-full"
        formControlName="phone"
        placeholder="+7-800-123-45-67">
      </p-inputMask>
    </div>
    <p class="settings-location mb-2"> Адрес <span>(будет указываться в объявлениях по умолчанию)</span></p>
    <p-autoComplete 
        formControlName="location"
        [suggestions]="filteredAddress"
        (completeMethod)="filterAddress($event)"
        field="value"
        inputStyleClass="w-full p-inputtext-lg mb-4"
        [minLength]="4"
        styleClass="w-10"
        placeholder="Не указан">
      </p-autoComplete>
      <div class="flex ">
        <p-button 
          class="mr-4" 
          [disabled]="settingsForm.invalid"
          type="submit">
          <span>Сохранить</span>
        </p-button>
        <p *ngIf="isVisibleConformation"
        class="confirmation flex align-items-center"       
        > <span class="pi pi-check-circle mr-2" style="font-size: 1.8em"></span> Изменения сохранены</p>
      </div>
  </form>

  <H2 class="change-password-title">Смена пароля</H2>
  <form class="change-password pt-2 pb-2" [formGroup]="newPasswordForm" (ngSubmit)="saveNewPassword()">
    <p class="password-old mt-2 mb-2"> Текущий пароль </p>
    <p-password 
    class="p-inputtext-lg"
    formControlName="oldPassword"
    styleClass="w-5 p-component p-inputwrapper  p-password block mb-3"
    inputStyleClass="w-full"
    placeholder="Введите текущий пароль"
    [feedback]="false"
    [toggleMask]="true"></p-password>
    <div
      class="mb-3 text-left"
      *ngIf="newPasswordForm.controls['oldPassword'].invalid
      && newPasswordForm.controls['oldPassword'].touched">
        <span *ngIf="newPasswordForm.controls['oldPassword']?.errors?.['minlength']" class="text-red-600 w-full text-lg">Минимальная длинна пароля 8 символов</span>
        <span *ngIf="newPasswordForm.controls['oldPassword']?.errors?.['maxlength']" class="text-red-600 w-full text-lg">Максимальная длинна пароля 50 символов</span>
    </div>
    <p class="password-new mb-2"> Новый пароль <span>(минимум 8 символов)</span></p>
    <p-password 
    class="p-inputtext-lg block mb-3"
    formControlName="newPassword"
    styleClass="w-5 p-component p-inputwrapper  p-password"
    inputStyleClass="w-full"
    placeholder="Введите новый пароль"
    [feedback]="false"
    [toggleMask]="true"></p-password>
    <div
      class="mb-3 text-left"
      *ngIf="newPasswordForm.controls['newPassword'].invalid
      && newPasswordForm.controls['newPassword'].touched">
        <span *ngIf="newPasswordForm.controls['newPassword']?.errors?.['minlength']" class="text-red-600 w-full text-lg">Минимальная длинна пароля 8 символов</span>
        <span *ngIf="newPasswordForm.controls['newPassword']?.errors?.['maxlength']" class="text-red-600 w-full text-lg">Максимальная длинна пароля 50 символов</span>
      </div>
    <div class="flex ">
      <p-button 
        class="block mr-4 newPassword-btn"
        [disabled]="newPasswordForm.invalid"
        type="submit">
        <span>Изменить пароль</span>
      </p-button>
      <p *ngIf="isVisiblePassConformation"
      class="confirmation flex align-items-center"       
      > <span class="pi pi-check-circle mr-2" style="font-size: 1.8em"></span> Изменения сохранены</p>
      <p *ngIf="isVisiblePassError"
      class="password-error flex align-items-center"       
      > <span class="pi pi-ban mr-2" style="font-size: 1.8em"></span> Ошибка пароля</p>
    </div>
  </form>
</div>
