<div class="container flex justify-content-center align-items-center">
  <div class="login">
    <div class="login-header flex justify-content-between align-items-center">
      <h1>Авторизация</h1>
      <a routerLink="/"><i class="pi pi-times"></i></a>
    </div>
    <form class="login-body w-full text-center" [formGroup]="loginForm" (ngSubmit)="submit()">
      <p-inputMask 
        mask="+9-999-999-99-99" 
        class="p-inputtext-lg mb-4 block w-full"
        styleClass="w-full p-component p-inputwrapper"
        formControlName="userPhone"
        placeholder="+7-800-123-45-67">
      </p-inputMask>
      <div
        class="alert alert-danger mt-1 mb-1 w-full"
          *ngIf="loginForm.controls['userPhone'].invalid
          && loginForm.controls['userPhone'].touched">
            Введите номер телефона
      </div>
      <p-password 
        class="p-inputtext-lg"
        formControlName="userPass"
        styleClass="w-full p-component p-inputwrapper  p-password"
        inputStyleClass="w-full"
        [feedback]="false"
        [toggleMask]="true"></p-password>
      <div
        class="alert alert-danger mt-1"
        *ngIf="loginForm.controls['userPass'].invalid
        && loginForm.controls['userPass'].touched">
          Минимальная длинна пароля 8 символов
      </div>
      <div class="form-footer flex justify-content-between">
        <div>
          <p-checkbox formControlName="rememberMe" 
          class="mr-2"
          [binary]="true"
          value="rememberMe" inputId="rememberMe"></p-checkbox>
        <label for="rememberMe flex-grow-1">Запомнить меня</label>
        </div>
        <a class="forgetPass" routerLink="#">Забыли пароль?</a>
      </div>
      <a class="registration block w-full" routerLink="/registration">Еще не зарегистрированы?</a>
      <p-button label="Войти" (click)="submit()"></p-button>
    </form>
  </div>
</div>



