<div class="container flex justify-content-center align-items-center">
  <div class="registration">
    <div class="registration-header flex justify-content-between align-items-center mb-4">
      <h1>Регистрация</h1>
      <a routerLink="/"><i class="pi pi-times"></i></a>
    </div>
    <form 
      class="registration-body w-full" 
      [formGroup]="registrationForm" 
      (ngSubmit)="submit()">
      <p-inputMask 
        mask="+9-999-999-99-99" 
        class="ng-invalid ng-dirty p-inputtext-lg mb-4 block w-full"
        styleClass="w-full p-component p-inputwrapper"
        formControlName="userPhone"
        placeholder="+7-800-123-45-67">
      </p-inputMask>
      <div
        class="alert alert-danger mt-1 mb-1 w-full"
          *ngIf="registrationForm.controls['userPhone'].invalid
          && registrationForm.controls['userPhone'].touched">
            Введите номер телефона
      </div>
      <input 
        type="text"
        class="p-inputtext-lg mb-4 w-full"
        pInputText
        formControlName="name"
        placeholder="Имя"/>
      <p-password 
        class="p-inputtext-lg"
        formControlName="userPass"
        styleClass="w-full p-component p-inputwrapper  p-password"
        inputStyleClass="w-full"
        placeholder="Пароль"
        [feedback]="false"
        [toggleMask]="true"></p-password>
      <div
        class="alert alert-danger mt-1"
        *ngIf="registrationForm.controls['userPass'].invalid
        && registrationForm.controls['userPass'].touched">
          Минимальная длинна пароля 8 символов
      </div>

      <button 
        class="registration-btn"
        (click)="submit()">
        <span>Зарегистрироваться</span>
      </button>
    </form>
  </div>
</div>



