<div class="container flex justify-content-center align-items-center">
  <div class="registration">
    <div class="registration-header flex justify-content-between align-items-start mb-4">
      <h1>Регистрация</h1>
      <a routerLink="/"><i class="pi pi-times"></i></a>
    </div>
    <form 
      class="registration-body w-full" 
      [formGroup]="registrationForm" 
      (ngSubmit)="submit()">
      <p-inputMask 
        mask="+9-999-999-99-99" 
        class="p-inputtext-lg mb-3 block w-full"
        styleClass="w-full"
        formControlName="userPhone"
        placeholder="+7-800-123-45-67">
      </p-inputMask>
      <div class="w-full mb-3 text-left"
        *ngIf="registrationForm.controls['userPhone']?.invalid && 
        (registrationForm.controls['userPhone'].touched || registrationForm.controls['userPhone'].dirty)">
        <span class="text-red-600 w-full text-lg">Введите номер телефона</span>
      </div>
      <input 
        type="text"
        class="p-inputtext-lg mb-4 w-full"
        pInputText
        formControlName="name"
        placeholder="Имя"/>
      <div class="w-full mb-3 text-left"
        *ngIf="registrationForm.controls['name']?.invalid && 
        (registrationForm.controls['name'].touched || registrationForm.controls['name'].dirty)">
        <span *ngIf="registrationForm.controls['name']?.errors?.['required']" class="text-red-600 w-full text-lg">Введите имя</span>
        <span *ngIf="registrationForm.controls['name']?.errors?.['minlength']" class="text-red-600 w-full text-lg">Минимально 3 символа</span>
      </div>
      <p-password 
        class="p-inputtext-lg"
        formControlName="userPass"
        styleClass="w-full mb-3"
        inputStyleClass="w-full"
        placeholder="Пароль"
        [feedback]="false"
        [toggleMask]="true"></p-password>
      <div
        class="mb-3 text-left"
        *ngIf="registrationForm.controls['userPass'].invalid
        && registrationForm.controls['userPass'].touched">
          <span *ngIf="registrationForm.controls['userPass']?.errors?.['minlength']" class="text-red-600 w-full text-lg">Минимальная длинна пароля 8 символов</span>
          <span *ngIf="registrationForm.controls['userPass']?.errors?.['maxlength']" class="text-red-600 w-full text-lg">Максимальная длинна пароля 50 символов</span>
      </div>
      
      <p-button
        class="registration-btn"
        type="submit"
        [disabled]="registrationForm.invalid">
        <span>Зарегистрироваться</span>
      </p-button>
    </form>
  </div>
</div>



