<main>
  <div class="container">
    <ng-container *ngIf="loading"  class="mb-4 border-round-sm">
      <div class="grid">
        <div class="col-8 mb-3">
          <p-skeleton width="20rem" height="1.5rem"></p-skeleton>
        </div>
        <div Class="col-4 mb-3">
          <p-skeleton width="10rem" height="1.5rem"></p-skeleton>
        </div>
        <div class="col-8 flex justify-content-center">
          <p-skeleton size="35rem"></p-skeleton>
        </div>
        <div Class="col-4">
          <p-button icon="pi pi-phone" label="Показать номер телефона" styleClass="mb-3"></p-button>
          <p-skeleton width="10rem" height="2rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="20rem" height="1rem" styleClass="mb-1"></p-skeleton>
          <p-skeleton width="20rem" height="1rem" styleClass="mb-3"></p-skeleton>
          <p-skeleton width="10rem" height="2rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="20rem" height="150px" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </ng-container>
    <ng-container #content *ngIf="!loading">
      <div class="grid">
        <div class="cell-title col-8">{{ advert && advert.name }}</div>
        <div class="cell-price col-4">{{ advert && advert.cost }} ₽</div>
       
        <div class="cell-images col-8">
          <p-galleria 
            *ngIf="images"
            [value]="images"
            [numVisible]="5">
            <ng-template 
              pTemplate="item"
              let-item>
                <img [src]="item" style="height: 478px" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item >
                <div class="grid grid-nogutter justify-content-left">
                    <img [src]="item" class="my-thumbnail"/>
                </div>
            </ng-template>
          </p-galleria>
        </div>
        <div class="col-4">
          <div class="mb-5">
            <p-button 
              (click)="showDialog()" icon="pi pi-phone" label="Показать номер телефона"></p-button>
            <p-dialog [header]="advert && advert.user.name" [(visible)]="visible" [modal]="true" class="advert-dialog">
              <p class="phone">{{ advert && advert.phone }}</p>
              <p-divider></p-divider>
              <p class="security-rules">Правила безопасных сделок</p>
              <ul class="security-rules-list">
                <li>Храните в тайне почту, данные паспорта и код с карты</li>
                <li>Игнорируйте ссылки на оплату, которые присылает собеседник</li>
                <li>Никому не говорите коды из смс и пуш-уведомлений</li>
              </ul>
            </p-dialog>
          </div>
          <div class="adress-title mb-2"> Адрес</div>
          <div class="cell-adress"> {{ advert && advert.location }}</div>
          <a 
            *ngIf="queryParams" 
            [routerLink]="mapLink" 
            [queryParams]="queryParams" 
            class="map-link no-underline">
            Показать на карте 
            <i class="pi pi-map-marker"></i>
          </a>
          <div class="cell-description-title mt-5 mb-2"> Описание</div>
          <div class="cell-description">{{ advert && advert.description }}</div>
        </div>
      </div>
    </ng-container>  
  </div>
</main>
